body{
    background-color: #2B3499!important;
    font-family: 'Inter', sans-serif;
}
/*header*/
header{
    color: aliceblue;
    background-color: #ff6c22;
    text-decoration: dotted;
   
}
 
 
 
 nav ul{
    display: flex;
 }
 
 ul li{
    display: inline-block;
    width: 100% ;
    border: 1px solid #333;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #2b3499;
 
 }
 
 ul select{
    display: inline-block;
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
    margin: 15px;
    background-color: #2b3499;
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    font-family:'Inter', sans-serif;}

/*header*/
    form{
        display: block;
        background-color: #2B3499;
        max-width: 300px;
        
        
    }
    .form-floating{
        
        background-color: #2B3499;
        color: #2B3499;
        margin: 10px;
    }
    .loginb{
        background-color: #FF9209 ;
        border: 2px solid #FF9209 ;
        border-radius: 5px;
        margin: 5px ;
        color: #2B3499 ;
        font-size: 20px;
    }
        .loginb:hover{
            background-color: #FF6C22;
            border: 2px solid #FF6C22 ;
        }   

img{
    width: 100%;
    height: auto;
}
/* wrapper around the picture*/
.wrapper {
    position: relative;
    text-align: center;
    
    
}

/* thing that puts text on top of the picture*/
.top-of-img{
    position: absolute;
    bottom:1px;
    left:40%;
    color:#FFD099;
    
}

    .back_us{
        background-color: #FFD099;
        margin: 0px;

    }
    .h2-sonja{
        
        text-align: center;
        padding: 20px;
        margin: 20px;
    }
 
    .about_us{
         display: flex;
         flex-wrap: wrap;
         flex: 200px;
         justify-content: space-evenly;
         margin-right: 20px;
         margin-left: 20px;
         margin-bottom: 0px;
         
         border: 2px solid #FF9209;
 
    }
    .why_us{
        width: 450px;
        height: 330px;
            
        flex-wrap: wrap;
            
        margin: 25px;
        padding: 25px;
        border: 2px solid #FF6C22;

         border-radius: 5px;
            
        background-color: #FF9209;
            text-align: right;
    
    }
    .us_ul{
       margin: 10px;
    }
    .us_li{
        font-weight: bold;
        list-style-type: "\1F525" ; 
     }
 
     


main{
    display: flex;
    flex-wrap: wrap;
    flex: 20px;
    justify-content: space-evenly;
    background-color: #FF9209;
    margin: 0px;
   
}



    .p-a{
        text-decoration: none;
        color: #FFD099;

    }
    .p-a:link {
        background-color: #2B3499;
        text-align: center;
        border:1px solid black;

        margin: 50px;
        padding: 10px;
        border-radius: 5px;
    }

    .p-a:visited {
        color: #FFD099;
        border: #2B3499;
    }

    .p-a:focus {
        text-decoration: none;
        background: #2b3499a4;
    }

    .p-a:hover {
        background-color: #FF9209;
        border: 1px solid #FF9209;
    }
    
.boxbox{
    display: flex;
    flex-wrap: wrap;
    flex: 20px;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 25px;
}
.box{
    
    width: 250px;
    height: 290px;

    padding: 20px;
    margin: 10px;
    border: 25px;
    border-radius: 10px;
    background-color: #FFD099;
}
    /*Jäsenyys*/
    .p1{
        font-size: 25px;
        font-weight: bold;
    }
    /*Hinta*/
    .p2{
        font-size: 20px;
        font-weight: bold;


    }   

   

.shorter{
    padding-bottom: 25px;
    list-style-type: "\2705";
}

.longer{
    
    padding-bottom: 3px;
    list-style-type: "\2705";

}

.dot{
   list-style-type: none;
   font-weight: bold;
}




.h4bot{
    text-align: center;
    color: #2B3499;
}

.botli{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-evenly;

    margin: 20px;
    padding: 25px;
    
    width: auto;
    
      
}   
    .botli2{
        margin:10px;
        
        
        border-radius: 25px;
        padding: 3px;
        height: 600px;
       
       

        
        
    }
    .botli3{
        display: flex;
        flex-wrap: wrap;
        
        flex-direction: row-reverse;
        
        margin: 10px;
        border: #2B3499;
        padding: 20px;
        row-gap: 20px;
        text-align: left;
    }
    .botli4{
        display: flex;
        flex-wrap: wrap;
       
        row-gap: 40px;
        margin: 2px;
        border: #2B3499;
        padding: 20px;

       
        text-align: right;        

    }
   /* .pic-border{
        height: 300px;
        width: 400px;
        padding: 20px;
        font-size: 17px;
        border-radius: 5px;
        background-color: #FF6C22;
        
        padding: 20px;
    }*/
    .crunchimg{
        margin: 20px;
        border-radius: 5px;
       
        width: 350px;
        height: 200px;
       
        
    }
    .p3{
        height: 300px;
        width: 300px;
        padding: 20px;
        font-size: 17px;
        border-radius: 5px;
        background-color: #FFD099;
        
    }
  


/* 
#2B3499
#FF6C22
#FF9209
#FFD099
*/

/*Footer*/
  h1, h2, h3, p, margin, padding {
    margin: 0;
    padding: 0;
    
  }
  

  .main-footer {
    background-color: #FF6C22; 
    color: #333; 
    min-height: 250px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
  }
  


  .textFooter {
    flex: 2; 
  }
  
  .getInTouch,
  .links {
    flex: 1; 
  }
  
  
  h4, h6 {
    color: #333; 
  }
.hyperLinks{
    color: #333;
    text-decoration: none;
    display: block;
    margin: 5% auto;
  }
  
a{
    color: #333;
}

.cta{
    margin-top: 3%;
}



  a:hover {
    color: #FF6C22;
  }


