body{
    background-color: #2b3499;
    
}
/**/

main{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255) ;
}

.container1{
    
    display: flex;
    border: 1px solid #ff9209;
    background-color: #ffd099;
    font-size: 15px;
    color: #2b3499;
       
}




.container1 img{
    float: left;
    width: 50%;
}

.container2{
    display: flex;
    border: 1px solid #ff9209;
    background-color: #ffd099;
    font-size: 15px;
    width: 100%;
}
.container2 img{
    width: 100%;
}

.container2 button{
   font-size: 15px;
   margin: 10px;  
}

h1{
    font-size: 25px;
}

h2{
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 20px;
}


.three{
    font-size: 15px;
    background-color: #ff9209;
    border: 1px solid #ff9209;
    margin: 35px;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 10px;
    display: inline-block;
    
}
.three:hover{
    transform: scale(1.1);
}



.side{
    float: left;
    width: 50%; 
}
.side2{
    
    
    font-size:15px;
   
}
.side2 button{
    font-size: 15px;
    margin: 30px;  
 }

.otsikko{
    display: flex;
    direction: colum;
    color: aliceblue;
    float: inline-end;
    margin: 20px;
    
}
h3{
    width: 50%;
    font-size: 25px;
}
.motsikko4{
    font-size: 25px;
}
.color{
    background-color: #ff9209 !important;

}


header{
    color: aliceblue;
    background-color: #ff6c22;
    font-size: 20px;
    text-decoration: dotted;
    padding: 1px;
    
    
    
 }
 ul li, ul select{
    width: max-content;
    background-color: #2b3499;
    display: inline-block;
    padding: 11px;
    margin: 10px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 10px;
    color: aliceblue;
 }
 ul a{
    color: aliceblue;
 }
 
 .dropbtn {
    background-color: #2b3499;
    color: white;
    padding: 16px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #2b3499;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #2b3499;}

  

  .main-footer {
    background-color: #FFD099; 
    color: #333; 
    min-height: 250px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
  }
  


  .textFooter {
    flex: 2; 
  }
  
  .getInTouch,
  .links {
    flex: 1; 
  }
  
  
  .fotsikko4, h6 {
    color: #333; 
  }
.hyperLinks{
    color: #333;
    text-decoration: none;
    display: block;
    margin: 5% auto;
  }
  
a{
    color: #333;
}

.cta{
    margin-top: 3%;
}



  a:hover {
    color: #FF6C22;
  }
  
 