<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/style/heder_Sofia_Rots.css">
    
    
</head>
<body>
    <header>

            <ul>
                <li><a href="../components/jasenyys.html" target="_self">Membership</a></li>
                <li><a href="../components/blogYasmin.html" target="_self">Blog</a></li>
                <li><a href="../components/ryhmaliikunta_Sofia_Rots.html" target="_self">Group Exercise </a></li>
                
                <!--Hyperlinkit pääsivuun ja footerin-->
                <li>Location</li>
                <li>Contact Information</li>
                <!--aukeaa palkki, jossa on jäsenyys, kuntosali, ryhmäliikunta<-->
                <div name="Hinnat" onchange="location = this.value;">
                    <option value="Hinnasto">Price List</option>
                    <option value="Jasenyys">Membership</option>
                    <option value="../components/ryhmaliikunta_Sofia_Rots.html#table" target="_self">Group Exercise</option>
                    <a id="table"></a>
                    <option value="../components/ryhmaliikunta_Sofia_Rots.html#table" target="_self">Gym</option>
                    <a id="table"></a>
                </div>
            </ul>
    </header>
</body>
</html>