<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/style/heder_Sofia_Rots.css">
    
    
</head>
<body>
    <header>
        <figure >
           
        </figure>
        <nav>
            <ul>
                <li>Membership</li>
                <li>Blog</li>
                <li>Group Exercise</a></li>
                <!--Hyperlinkit pääsivuun ja footerin-->
                <li>Location</li>
                <li>Contact Information</li>
                <!--aukeaa palkki, jossa on jäsenyys, kuntosali, ryhmäliikunta<-->
                <select name="Hinnat" id="Hinnaston kategoria">
                    <option value="Hinnasto">Price List</option>
                    <option value="Jasenyys">Membership</option>
                    <option value="Rymaliikunta">Group Exercise</option>
                    <option value="Kuntosali">Gym</option>
                </select>
            </ul>
        </nav>



    </header>
</body>
</html>