
    <header>
        <ul>
            <li><a href="../components/jasenyys.html" target="_self">Membership</a></li>
            <li><a href="../components/blogYasmin.html" target="_self">Blog</a></li>
            <li><a href="../components/ryhmaliikunta_Sofia_Rots.html" target="_self">Group Exercise </a></li>
            
            <!--Hyperlinkit pääsivuun ja footerin-->
            <li><a href="../components/index.html#lct" target="_self"> Location</a></li>
            <li><a href="../components/index.html#info" target="_self"> Contact Information</a></li>
            <!--aukeaa palkki, jossa on jäsenyys, kuntosali, ryhmäliikunta<-->
        </ul>    
            <div class="dropdown">
                <button class="dropbtn">Hinnasto</button>
                <div class="dropdown-content">
                  <a href="#">Membership</a>
                  <a href="../components/ryhmaliikunta_Sofia_Rots.html#tbl">Group Exercise</a>
                  <a href="../components/ryhmaliikunta_Sofia_Rots.html#tbl">Gym</a>
                </div>
            </div>
        
</header>
