<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="../style/jasenyys_sonja_lahti.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <header>
        <ul>
            <li><a href="../components/jasenyys.html" target="_self">Membership</a></li>
            <li><a href="../components/blogYasmin.html" target="_self">Blog</a></li>
            <li><a href="../components/ryhmaliikunta_Sofia_Rots.html" target="_self">Group Exercise </a></li>
            
            <!--Hyperlinkit pääsivuun ja footerin-->
            <li><a href="../components/index.html#lct" target="_self"> Location</a></li>
            <li><a href="../components/index.html#info" target="_self"> Contact Information</a></li>
            <!--aukeaa palkki, jossa on jäsenyys, kuntosali, ryhmäliikunta<-->
        </ul>    
            <div class="dropdown">
                <button class="dropbtn">Hinnasto</button>
                <div class="dropdown-content">
                  <a href="#">Membership</a>
                  <a href="../components/ryhmaliikunta_Sofia_Rots.html#tbl">Group Exercise</a>
                  <a href="../components/ryhmaliikunta_Sofia_Rots.html#tbl">Gym</a>
                </div>
            </div>
        
</header>

  <!-- Sonja-->
    <form method="post" action="#">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button type="submit" class="loginb">Login</button>
    </form>

  
    <div class="wrapper">
       <div > <img src="../images/twowomenExercising.jpg" alt="Picture of a woman with barbell." class="cover">
    </div>
       <p class="top-of-img" >Entrance Fee NOW <strong>only</strong> 29,90€ </p>
    
    </div>

    <div class="back_us">

        <h2 class="h2-sonja">Which Membership to Choose?</h2>
    <div class="about_us">
        
        <div class="why_us"><p ><strong>Our gym is</strong>  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Officiis dolor aliquam fugiat nostrum magni consectetur cum consequuntur 
             laborum, commodi tenetur numquam optio
             in a dolores ratione cupiditate est, unde pariatur.</p>
             <ol class="us_ul">
                <li class="us_li">Reason</li>
                <li class="us_li">Second</li>
                <li class="us_li">Thrid</li>
                <li class="us_li">Fourth</li>
             </ol></div> 
        
        <div class="why_us"><p> <strong> We also offer</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Ratione iusto ducimus optio quaerat voluptatibus sunt vero voluptate
            provident impedit tempore odit minima, 
            ipsa veritatis ullam voluptatum veniam excepturi et dolor voluptatibus sunt vero.</p>
            <ol class="us_ul">
                <li class="us_li">Reason</li>
                <li class="us_li">Second</li>
                <li class="us_li">Thrid</li>
                <li class="us_li">Fourth</li>
            </ol></div> 
    </div> 
    </div>

 
        
<main>          
    
     
     <div id="Memberprice" class="boxbox">  
        <div class="box">
            <p class="p1">Student Membership</p>
            <p class="p2">59,90€ /month</p>

            <ol class="shorter">
                <li class="membership">Gym</li>
                <li class="membership">Group Exercize</li>
            </ol>
            <p ><a href="#" class="p-a"> Join now!</a></p>
        </div>
            
        <div class="box">
            <p class="p1">Basic Membership</p>
            <p class="p2">69,90€ /month</p>
            

            <ol class="shorter">
                <li class="membership">Gym</li>
                <li class="membership">Group Exercize</li>
            </ol>
            <p ><a href="#" class="p-a"> Join now!</a></p>
        </div>
        <div class="box">
            <p class="p1">Basic+ Membership</p>
            <p class="p2">85,90€/month</p>
            
            <ol class="longer">
                <li class="membership">Gym</li>
                <li class="membership">Group Exercize</li>
                <li class="membership">kaikki kuntosalit</li>
            </ol>
            <p><a href="#" class="p-a"> Join now!</a></p>
        </div>

        <div class="box">
            <p class="p1">Membership for Retirees</p>
            <p class="p2">55,90€ /month</p>

            <ol class="shorter">
                <li class="membership">Gym</li>
                <li class="membership"> Group Exercize</li>
            </ol>
            <p><a href="#" class="p-a"> Join now!</a></p>
        </div>

        <div class="box">
            <p class="p1">Yearly membership</p>
            <p class="p2">699€ /year</p>

            <ol class="shorter">
                <li class="membership">Gym</li>
                <li class="membership">Group Exercize</li>
            </ol>
            <p><a href="#" class="p-a"> Join now!</a></p>
        </div>
        <div class="box">
            <p class="p1">One time visit payment</p>
            <p class="p2">29,90€ /visit</p>

            <ol class="longer">
                <li class="membership">Gym</li>
                <li class="dot">tai</li>
                <li class="membership">Group Exercize</li>
                
            </ol>
            <p><a href="#" class="p-a"> Join now!</a></p>
        </div>
    </div> 
  
 
    <div class="botli">      
        
        <div class="botli2">  
            <h4 class="h4bot"> Exquisite equipment</h4> 
            <div class="botli3">
                    <p class="p3"> <strong>E</strong>xplicabo iusto temporibus officia quo.
                    Lorem ipsum dolor sit amet <i>consectetur</i>  adipisicing elit. 
                    Magnam repudiandae natus laboriosam doloribus, illum enim maxime? 
                    Eligendi quam deleniti mollitia cumque aliquam tenetur
                    cum perspiciatis odio iure consequatur! </p>
                  <div class="pic-border">  <img src="../images/crunches.jpg" alt="Woma doing abdomnal crunches."  class="crunchimg"></div>
                </div>
        </div> 

        <div class="botli2">
            <h4 class="h4bot">Group Exercise with high intensity:</h4> 
            <div class="botli4" >
                <p class="p3"> <strong> D</strong>olor sit amet consectetur adipisicing elit. Odit, 
                    labore quas provident similique iusto ullam ratione atque quam 
                    blanditiis recusandae vel optio illo consequuntur quaerat?
                    Explicabo iusto temporibus officia quo.</p>
                    <img src="../images/jooga2.jpg" alt="Woman doing jooga."  class="crunchimg"></div>
        </div>

        <div class="botli2">
            <h4 class="h4bot">Professional Staff:</h4>
            <div class="botli3">
                <p class="p3"> <strong> B</strong>landitiis recusandae vel optio illo consequuntur quaerat?
                    Explicabo iusto temporibus officia quo.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Magnam repudiandae natus laboriosam doloribus, illum enim maxime? 
                    Eligendi quam deleniti mollitia cumque aliquam tenetur.</p>
                    <img src="../images/boxing.jpg" alt="Man boxing."  class="crunchimg"></div>
        </div>



             
        
    </div>  
</main>
<!--sonja loppu-->
<footer class="main-footer">
    <div class="container footer">
        <div class="textFooter">
            <h4>Discover x Gym</h4>
            <p> Transform yourself with our top-notch facilities, 
                expert trainers, and diverse classes. Join us in the
                 pursuit of wellness – your goals, our commitment.</p>
                 <p class="cta">Ready to start your fitness journey? <a href="">Join Now!</a></p>
        </div>
   
      <div class="getInTouch">
        <h4>Get in Touch</h4>
        <a class="hyperLinks" href="">123 Fittness Street, Cityville</a>
        <a class="hyperLinks" href="">+358 567 4786</a>
        <a class="hyperLinks" href="mailto:info@example.com">info@example.com</a>
        <div class="social-icons">
        <a href="https://facebook.com/examplegym" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/examplegym" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/examplegym" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

        <div class="links">
            <h4>Links</h4>
            <a class="hyperLinks" href="#">FAQ</a>
            <a class="hyperLinks" href="#">Team & conditions</a>
            <a class="hyperLinks" href="#">Reporting</a>
            <a class="hyperLinks" href="#">Privacy</a>
        </div>
       
      </div>
     
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>